@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html body{
    width: 100vw;
    min-height: 100dvh;
    box-sizing: border-box;
}

header{
   background-color: #D69D00;
   border: 1px solid black;
}
header > h2,h1{
    text-align: center;
    padding: 10px;
}
li{
    border: 1px solid black;
    display: inline-block;
    font-size: 1.7em;
    background-color: #0073D6;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.produto{
    box-shadow: 3px 3px 5px black;
    display: block;
    border: 1px solid;
    max-width: 500px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
p{  font-size: 1.2em;
    padding: 10px;
    text-align: justify;
    border: 1px solid black;
    margin: 5px;
}
img{
    display: block;
    max-width: 500px;
    height: 300px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
}
h2{text-align: center;}

form{
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
    border: 1px solid black;
}
input{
    display: inline;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    margin: 10px;
}
main{
    padding: 20px;
}